---
import { Image } from '@astrojs/image/components';

import Layout from '@layouts/Layout.astro';

import cover from '@assets/cover.webp';
import hlchLogo from '@assets/hlch-logo.webp';
---

<Layout>
  <div class="relative w-screen overflow-hidden aspect-21/9">
    <Image
      class="absolute inset-x-0 bottom-0 grayscale-50"
      aspectRatio={3000 / 1286}
      src={cover}
      loading="eager"
      alt=""
    />
    <div class="absolute inset-0 bg-orange-700 opacity-50 mix-blend-multiply">
    </div>
  </div>
  <div
    class="w-screen px-4 mx-auto my-3 mt-10 text-2xl font-bold leading-tight text-center uppercase tracking-lg sm:mb-5 sm:text-3xl md:text-4xl"
  >
    <div
      class="flex flex-col items-center justify-center divide-x-0 divide-y divide-stone-400 sm:flex-row sm:divide-x sm:divide-y-0"
    >
      <div class="flex pb-5 sm:w-80 sm:py-5 sm:pr-10 md:pl-0 md:pr-18">
        March 11, 2023
      </div>
      <div class="flex pt-5 sm:w-80 sm:py-5 sm:pb-5 sm:pl-10 md:pr-0 md:pl-18">
        Columbus<br />OH
      </div>
    </div>
  </div>
  <div class="max-w-3xl py-8 m-auto text-sm text-center">
    <a href="https://www.highlinecarhouse.com" target="_blank">
      <Image
        class="w-20 m-auto mb-4 border-2 border-stone-900 sm:w-32"
        src={hlchLogo}
        alt="High Line Car House"
      />
    </a>
    <div class="leading-6 tracking-wider">
      <div>550 South High Street</div>
      <div>Columbus, OH, 43215, United States</div>
    </div>
  </div>
</Layout>
