---
import Layout from '../layouts/Layout.astro';

import norway from '../assets/norway.jpeg';
---

<Layout title="Kristen & Greg | Our Story">
  <div class="py-16">
    <img class="max-w-xs rounded-full sm:max-w-sm" src={norway} />
  </div>
</Layout>
