---
import { Image } from '@astrojs/image/components';
import Layout from '@layouts/Layout.astro';

import venue from '@assets/high-line-car-house.webp';
---

<Layout page="Schedule">
  <div
    class="bg-orange-900 bg-opacity-75 py-4 text-center tracking-wide text-off-white sm:rounded sm:text-2xl"
  >
    Check back here soon. More details to follow!
  </div>
  <div class="px-6 py-4 text-center tracking-wide">
    <h2 class="py-2 text-3xl">Friday, March 10th</h2>
    <h3 class="py-3 text-xl">Welcome Drinks</h3>
    <p class="mx-auto max-w-prose leading-7 opacity-80">
      Please join us for welcome drinks starting at 8pm at the Lumin Skybar on the rooftop of the AC Hotel.
    </p>
  </div>
  <div class="px-6 py-4 text-center tracking-wide">
    <h2 class="py-2 text-3xl">Saturday, March 11th</h2>
    <Image
      class="mx-auto max-w-sm w-full my-4 rounded"
      src={venue}
      aspectRatio="1:1"
      alt=""
    />
    <h3 class="py-3 text-xl">Wedding & Reception</h3>
    <p class="mx-auto max-w-prose leading-7 opacity-80">
      The wedding and reception will be held at
      {' '}
      <a
        class="underline"
        href="https://www.highlinecarhouse.com"
        target="_blank"
      >
        High Line Car House</a
      >. There will be transportation provided to and from the venue.
    </p>
  </div>
</Layout>
