---
import { Image } from '@astrojs/image/components';
import Layout from '@layouts/Layout.astro';
import Button from '@components/Button.astro';

import hotelLeveque from '@assets/hotel-leveque.webp';
import acHotel from '@assets/ac-hotel.webp';
---

<Layout page="Travel">
  <div class="mx-auto max-w-2xl space-y-3 px-5 pb-12 text-center">
    <p class="max-w-prose py-4 leading-7 tracking-wide opacity-90">
      If you're flying to Columbus, both hotels are a 10-minute car ride away
      from John Glenn Columbus International Airport. The links below can be
      used to book a room in the Sween/Douglas wedding block any time before
      <b>Feburary 9th, 2023</b>.
    </p>
    <p class="max-w-prose leading-7 tracking-wide opacity-90">
      If you are unable to book at the hotel of your choice, please let us know.
    </p>
    <div class="px-5 pt-1 text-center">
      <h2
        id="ac"
        class="my-7 text-2xl font-bold uppercase leading-normal tracking-lg sm:text-3.5xl"
      >
        AC Hotel by Marriott
      </h2>
      <Image src={acHotel} aspectRatio="4:3" alt="" />
      <div class="my-4 space-y-2 leading-none tracking-sm sm:text-xl">
        <a href="https://g.page/ac-hotel-columbus-downtown-oh" target="_blank">
          517 Park St, Columbus, OH 43215, USA
        </a>
        <div>(614) 227-6100</div>
      </div>
      <div class="flex justify-center">
        <Button
          href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1661175038058&key=GRP&app=resvlink"
        >
          Book Room
        </Button>
      </div>
    </div>

    <div class="px-5 pt-1 text-center">
      <h2
        id="leveque"
        class="my-7 text-2xl font-bold uppercase leading-normal tracking-lg sm:text-3.5xl"
      >
        Hotel Leveque
      </h2>
      <Image src={hotelLeveque} aspectRatio="4:3" alt="" />
      <div class="my-4 space-y-2 leading-none tracking-sm sm:text-xl">
        <a href="https://goo.gl/maps/eoSWwc8H3gozvqBc6" target="_blank">
          50 W Broad St, Columbus, OH 43215, USA
        </a>
        <div>(614) 224-9500</div>
      </div>
      <div class="flex justify-center">
        <Button
          href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1663173224468&key=GRP&app=resvlink"
        >
          Book Room
        </Button>
      </div>
    </div>
  </div>
</Layout>
