---
export interface Props {
  href: string;
}

const { href } = Astro.props as Props;
---

<a
  class="rounded bg-orange-800 py-3 px-9 text-sm font-bold uppercase tracking-sm text-off-white transition-opacity duration-200 hover:opacity-75 sm:text-base"
  href={href}
  target="_blank"
  rel="nofollow"
>
  <slot />
</a>
