<div
  class="mx-auto w-screen py-3 px-4 pt-10 text-center text-2xl font-bold uppercase leading-tight tracking-lg sm:pb-5 sm:text-3xl md:text-4xl"
>
  <div
    class="flex flex-col items-center justify-center divide-x-0 divide-y divide-stone-400 sm:flex-row sm:divide-x sm:divide-y-0"
  >
    <div class="flex pb-5 sm:w-80 sm:py-5 sm:pr-10 md:pl-0 md:pr-18">
      March 11, 2023
    </div>
    <div class="flex pt-5 sm:w-80 sm:py-5 sm:pb-5 sm:pl-10 md:pr-0 md:pl-18">
      Columbus<br />OH
    </div>
  </div>
</div>
