<footer class="pb-16 mx-auto text-center divide-y my-13">
  <div class="px-4.5 pb-4 text-4xl sm:text-5.5xl font-bold tracking-xl">
    K&amp;G
  </div>
  <div class="text-base sm:text-xl tracking-md pt-5 px-4.5">3.11.2023</div>
</footer>
