---
import { Image } from '@astrojs/image/components';

import Nav from '@components/Nav.astro';

import banner from '@assets/banner.webp';
export interface Props {
  page: string;
}

const { page } = Astro.props as Props;
---

<div class="h-14 md:hidden"></div>
<Image
  class="w-full select-none max-w-7xl"
  src={banner}
  aspectRatio={2023 / 405}
  loading="eager"
  decoding="auto"
  draggable="false"
  alt=""
/>
<header class="text-center pb-2.5 px-[4%]">
  <h1
    class="mt-8 mb-4 sm:mt-0 text-4xl sm:text-5.5xl font-bold tracking-xl leading-none uppercase"
  >
    Kristen & Greg
  </h1>
  <div class="my-2 text-base leading-none sm:text-xl tracking-sm">
    Saturday, March 11, 2023 • Columbus, OH
  </div>
</header>
<Nav title={page} />
