---
import Nav from '@components/Nav.astro';
export interface Props {
  page: string;
}

const { page } = Astro.props as Props;
---

<div class="h-14 md:hidden"></div>
<Nav title={page} />
<header class="px-[4%] pb-2.5 pt-2 text-center sm:pt-8">
  <h1
    class="mb-4 text-4xl font-bold uppercase leading-tight tracking-xl sm:mt-0 sm:text-5.5xl"
  >
    Kristen <span class="block sm:inline">&</span> Greg
  </h1>
  <div class="my-2 text-base tracking-sm opacity-90 sm:text-xl">
    Saturday, March 11, 2023
    <br class="sm:hidden" /><span class="hidden opacity-75 sm:inline-block"
      >•</span
    >
    Columbus, OH
  </div>
</header>
