---
import Nav from '@components/Nav.astro';
export interface Props {
  page: string;
}

const { page } = Astro.props as Props;
---

<header
  class="relative z-10 flex w-full flex-col items-center bg-off-white pt-14 pb-4 text-center md:pt-8"
>
  <Nav title={page} />
  <h1
    class="my-4 text-4xl font-bold uppercase leading-tight tracking-xl sm:text-5.5xl"
  >
    Kristen <span class="block sm:inline">&</span> Greg
  </h1>
  <div class="my-2 text-base tracking-sm opacity-90 sm:text-xl">
    Saturday, March 11, 2023<br class="sm:hidden" /><span
      class="mx-2 hidden opacity-75 sm:inline-block">•</span
    >Columbus, OH
  </div>
</header>
