---
import { SEO } from 'astro-seo';

import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';

import '@fontsource/nunito-sans/400.css';
import '@fontsource/nunito-sans/600.css';
import '@fontsource/nunito-sans/700.css';

export interface Props {
  page?: string;
}

const { page } = Astro.props as Props;

const title = `Kristen & Greg${page ? ' | ' + page : ''}`;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <SEO
      title={title}
      description="Welcome to Kristen Sween and Greg Douglas's Wedding Website!"
    />
  </head>
  <body class="antialiased bg-off-white text-stone-800">
    <div class="flex flex-col items-center min-h-screen">
      <Header page={page || 'K&G'} />
      <main class="py-4">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
